doctype html
html
    head
        title= title
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        
    body
        div.container
            div(class="panel panel-default")
                div(class="panel-heading") 
                    h1 #{title}
                div(class="panel-body")
                    ul
                        each month in months
                            li #{month.name}
                            ul
                                each count, donor in month.donors
                                    li #{donor} #{count}